@media all and (min-width: 480px) {
  .Economy {
    padding: 60px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .Economy form {
    margin: 0 auto;
    max-width: 320px;
  }
  .nivocalendar {
    width:85vw;
    height:80vh;
  }
}
