.Home .section {
  padding: 80px 0;
  min-width: 90vw;
  min-height: 60vh;
  text-align: center;
  border: 2px dotted deepskyblue;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}
