.App {
  min-width: 100vw;
  min-height: 100vh;
  margin-left: 0;
  background-image: linear-gradient(to top, #cfc,snow, #f8f8f8);
}

.app-title-navbar {
  font-weight: bold;
  font-size: 2.3rem;
}

.v-align-children {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background-image: radial-gradient(white,snow, #f8f8f8);
}

.App-logo {
  height: 3.1rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-pulsate infinite 2s linear;
  }
}

.App-header {
  background-color: #603;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-pulsate {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1.0);
  }
}
